@font-face {
    font-family: "nexonFootball";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nexonFootball";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonFootball/nexonFootball-Bold.ttf") format("truetype");
    font-display: swap;
} 

.nexonFootball {
    font-family: "nexonFootball";
}
.nexonFootball300 {
    font-family: "nexonFootball";
    font-weight: 300;
}
.nexonFootball700 {
    font-family: "nexonFootball";
    font-weight: 700;
}